# Lane test service file

[Unit]
Description=Lane test systemd service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /usr/local/sbin/services/lgh-test
Type=notify
User=lhensley
Group=lhensley
PermissionsStartOnly=true
TimeoutSec=600
Restart=on-failure

