#
# See https://www.freedesktop.org/software/systemd/man/systemd.service.html for help.

[Unit]
Description=Service to ping google.com with IPv6 every 10 minutes
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /usr/local/sbin/ipv6-keep-alive.service
# Leave Type=simple unless the process forks. Defaults this way anyway if ExecStart is used.
# Type=simple
User=root
Group=root
# PermissionsStartOnly is deprecated.
# PermissionsStartOnly=true
# On TimeoutSec, try default and add a value here only if necessary.
# TimeoutSec=600
Restart=on-failure

