# Lane Test Service File
# See https://www.freedesktop.org/software/systemd/man/systemd.service.html for help.

[Unit]
Description=Lane Test Systemd Service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /usr/local/sbin/lgh-test
# Leave Type=simple unless the process forks.
Type=simple
User=lhensley
Group=lhensley
PermissionsStartOnly=true
TimeoutSec=600
Restart=on-failure
