#
# See https://www.freedesktop.org/software/systemd/man/systemd.service.html for help.

[Unit]
Description=Service to Move Scanned Images from Brother Scanner to OneDrive/Brother
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /usr/local/sbin/move-scans-to-onedrive
# Leave Type=simple unless the process forks. Defaults this way anyway if ExecStart is used.
# Type=simple
User=root
Group=root
# PermissionsStartOnly is deprecated.
# PermissionsStartOnly=true
# On TimeoutSec, try default and add a value here only if necessary.
# TimeoutSec=600
Restart=on-failure
