#
# See https://www.freedesktop.org/software/systemd/man/systemd.service.html for help.

[Unit]
Description=Service to Transcode .mkv Files from MakeMKV to .m4v x265 HEVC Using HandBrake
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/bin/bash /usr/local/sbin/transcode-ripped-dvd-files
# Leave Type=simple unless the process forks. Defaults this way anyway if ExecStart is used.
# Type=simple
User=root
Group=root
# PermissionsStartOnly is deprecated.
# PermissionsStartOnly=true
# On TimeoutSec, try default and add a value here only if necessary.
# TimeoutSec=600
Restart=on-failure
